form {
    background-color: bisque;
    width: 300px;
    justify-content: center;
    flex-direction: column;
    display: flex;
    padding: 20px;

    margin: auto;
}
.submit{
    width: 80%;
    margin: 20px auto auto;
    font-size: 20px
}
.textInput{
    width: 98%;
    margin: 20px auto auto;
    font-size: 20px
}